.learn_hc1{
    width: 100%;
}
  
.learn_hc2{
    width: fit-content;
}
  
.learn_hc3 {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.learn_row:after {
    content: "";
    display: table;
    clear: both;
}
  
.learn_row {
    padding: 0;
    padding-top: 1.5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menuBar {
    width: 85%;
    max-width: 60vw;
    border: 0px;
    border-radius: 8px 8px 0px 0px;
    border-color: none;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    background-color: #171717;
}

@media screen and (min-width: 1024px) {
    .learn_hc1{
        width: 100%;
    }
      
    .learn_hc2{
        width: fit-content;
    }
      
    .learn_hc3 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
      
    .learn_row:after {
        content: "";
        display: table;
        clear: both;
    }
      
    .learn_row {
        padding: 0;
        padding-top: 1.5vh;
        display: flex;
        width: 100%;
    }
}