@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}