@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  src: url(../../public/Oxanium/Oxanium-VariableFont_wght.ttf) format(turetype)
}

body {
  background-color: black;
  color: white;
}

::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}