.statTile {
    height: 50vh;
    width: 75vw;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    background-image: linear-gradient(to top, #171717, black);
}

@media screen and (min-width: 1024px) {
    .statTile {
        width: 40vw;
        margin-left: 50px;
        margin-right: 50px;
    }
}